name: InstallPrometheus
description: 'Installs prometheus'
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: install
      shell: bash
      run: |
        hack/install-prometheus.sh
